<script id="tpl_header" type="text/html">
    <div class="page">
        <div class="nav-bar">
            <div class="nav-bar-inner padding10 bg-color-darken">
                <span class="pull-menu"></span>
                <a href="#home"><span class="element brand">GSWAT <small>0.0.5</small></span></a>
                <span class="divider"></span>
                <ul class="menu">
                    <li><a href="#home"><i class="icon-home"></i> Home</a></li>
                    <li><a href="#chat"><i class="icon-comments-2"></i> Chat</a></li>
                    <li><a href="#coming-soon"><i class="icon-earth"></i> Map Rotation</a></li>
                    <li><a href="#coming-soon"><i class="icon-list"></i> Players</a></li>
                    <li><a href="#settings"><i class="icon-cog"></i> Settings</a></li>
                    <li><a href="#coming-soon"><i class="icon-user-2"></i> Account</a></li>
                </ul>
            </div>
        </div>
    </div>
</script>

<script id="tpl_footer" type="text/html">
    <div class="page">
        <div class="nav-bar">
            <div class="nav-bar-inner padding10 bg-color-blueDark">
                <span class="element">&copy;2012 PureBattlefield</span>
                <span class="divider"></span>
                <ul class="menu">
                    <li><a href="https://github.com/Pure-Battlefield/gswat"><i class="icon-github-2"></i> GitHub</a></li>
                </ul>
            </div>
        </div>
        <div id="footerPopup" style="display:none"></div>
    </div>
</script>

<script id="tpl_loading" type="text/html">
    <div class="page text-center vertical-align padding10">
        <img src="/Content/themes/base/images/preloader-w8-cycle-black.gif">
        <p class="body-text">Loading...</p>
    </div>
</script>

<script id="tpl_coming_soon" type="text/html">
    <div class="page padding10">
        <div class="page-header">
            <h1>Coming Soon!</h1>
        </div>
        <div class="page-region">
            <div class="page-region-content">
                <p class="body-text">This page hasn't been built yet, but don't worry, it's coming soon!</p>
            </div>
        </div>
    </div>
</script>

<script id="tpl_body" type="text/html">
    <div class="page padding10">
        <div class="page-header">
            <h1>Welcome!</h1>
        </div>
        <div class="page-region">
            <div class="page-region-content">
                <p class="body-text">This is the Pure Game Server Web Administration Tool, or GSWAT for short. It's purpose is to try and simplify the task of administering servers from any platform that has a modern browser. We hope you enjoy it!</p>
            </div>
        </div>
    </div>
</script>

<script id="tpl_chat" type="text/html">
    <div class="grid page-region">
        <div class="row bg-color-lighten padding5">
            <a id="chat-force-refresh" href="#"><span><i class="icon-loop"></i> Refresh</span></a>
            <a id="chat-toggle-options" href="#" class="place-right"><span><i class="icon-wrench"></i> Options & Archives</span></a>
        </div>
        <div id="chat-quick-settings" class="row bg-color-white padding10">
            <h2>Quick Settings</h2>
            <div class="span4">
                <form id="historical-chat-form">
                    <fieldset>
                        <legend>Load past history</legend>
                        <label>This will disable chat auto-refresh</label>
                        <div class="input-control text">
                            <input type="text" id="chat-date-input" name="chat-date" placeholder="Enter Date (DD/MM/YYYY)" />
                            <button class="helper"></button>
                        </div>
                        <input type="submit" id="load-archive" class="archive-btn" value="Load"/>
                        <input type="button" id="save-archive" class="archive-btn" value="Save"/>
                        <iframe id="download-chat-iframe" src="{{iframe_url}}" style="display:none"></iframe>
                    </fieldset>
                </form>
            </div>
            <div class="span6">
                <div id="chat-settings"></div>
            </div>
        </div>
        <div class="row padding10">
            <div class="page-header">
                <h1>Server Chat</h1>
            </div>
        </div>
        <div class="row padding10">
            <div id="chat-contents" class="bg-color-blueLight row padding10 {{^show_server_msgs}}hide-server-msgs{{/show_server_msgs}}">
                {{>tpl_chat_messages}}
            </div>
        </div>
    </div>
</script>

<script id="tpl_chat_messages" type="text/html">
    {{#all_msgs}}
        <p {{#Server}}class="server-message"{{/Server}}>
            [<span class="timestamp">{{MessageTimeStamp}}</span>]
            [<span class="team team-{{MessageType}}">{{MessageType}}</span>{{#SquadName}} <span class="team squad">{{SquadName}}</span>{{/SquadName}}]
            <span class="player-name">{{Speaker}}</span>:
            <span class="message">{{Text}}</span>
        </p>
    {{/all_msgs}}
</script>

<script id="tpl_settings" type="text/html">
    <div class="page padding10">
        <div class="page-header">
            <h1>Settings</h1>
        </div>
        <div class="page-region">
            <div class="page-region-content">
                <div id="chat-settings"></div>
                <div id="server-settings"></div>
            </div>
        </div>
    </div>
</script>

<script id="tpl_chat_settings" type="text/html">
    <h2>Chat</h2>
    <form id="chat-settings-form">
        <fieldset>
            <legend>Chat Display Settings</legend>
            <label id="chat-auto-refresh-field" class="input-control switch">
                <input data-field="auto_refresh" type="checkbox" {{#auto_refresh}}checked{{/auto_refresh}}>
                <span class="helper">Auto-refresh</span>
            </label>
            <label id="chat-servers-msgs-field" class="input-control switch">
                <input data-field="show_server_msgs" type="checkbox" {{#show_server_msgs}}checked{{/show_server_msgs}}>
                <span class="helper">Show Server MSGs</span>
            </label>
            <div>
                <label>Refresh Interval in Seconds</label>
                <div id="chat-interval-field" class="input-control text">
                    <input data-field="interval" type="text" value="{{interval}}"/>
                    <button class="helper"></button>
                </div>
            </div>
            <input type="submit" value="Submit" />
        </fieldset>
    </form>
</script>

<script id="tpl_server_settings" type="text/html">
    <h2>Server</h2>
    <form id="server-settings-form">
        <fieldset>
            <legend>Connection Settings</legend>
            <label>Server IP</label>
            <div class="input-control text">
                <input tabindex="1" name="ServerIP" data-field="server_ip" type="text" value="{{ServerIP}}"/>
                <button class="helper"></button>
            </div>
            <label>Server Port</label>
            <div class="input-control text">
                <input tabindex="2" name="ServerPort" data-field="server_port" type="text" value="{{ServerPort}}"/>
                <button class="helper"></button>
            </div>
            <label>Server Password</label>
            <div class="input-control text">
                <input tabindex="3" name="Password" data-field="server_password" type="text" value="{{Password}}"/>
                <button class="helper"></button>
            </div>
            <label>Old Server Password</label>
            <div class="input-control text">
                <input tabindex="4" name="OldPassword" data-field="server_old_password" type="text" value="{{OldPassword}}"/>
                <button class="helper"></button>
            </div>
            <input type="submit" value="Submit" />
        </fieldset>
    </form>
</script>
