<header>
    <div class="content-wrapper">
        <div class="float-left">
            <p class="site-title">
                <a href="~/">GSWAT Test Page</a></p>
        </div>
    </div>
</header>
<div id="body">
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>Server Chat</h1>
            </hgroup>
            <!-- Start edits by Conner -->
            <img src="/Images/settingsBtn.png" alt="Settings" title="Settings" id="settingsBtn" />
            <img src="/Images/chatRefreshBtn.png" alt="Force refresh chat" title="Force refresh chat" id="forceRefreshBtn" />
            <div id="settingsBox">
                <input type="text" id="refreshRateInput" value="1" />
                <input type="submit" value="Adjust auto-refresh rate (secs)" id="refreshRateSubmit" />
                <hr />
                <div id="serverSettingsBox">
                    <form id="serverSettingsForm">
                        <input type="text" name="ipInput" id="ipInput" value="IP" />
                        <input type="text" name="portInput" id="portInput" value="Port" />
                        <br />
                        <input type="password" name="passwdInput" id="passwdInput" value="password" />
                        <input type="submit" value="Connect to Server" id="serverSettingsSubmit" />
                    </form>
                </div>
            </div>
            <!-- End edits by Conner -->
        </div>
    </section>
    <section class="content-wrapper main-content clear-fix" id="chatContents">
        <h3 style="text-align:center">We're loading the chat, give us a sec..</h3>
    </section>
    <div id="buttons">
        <form id="chat">
            <label>Enter Chat Date:</label>
            <input id="chatDate" type="text" size="25" />
            <a href="javascript:NewCal('chatDate','ddmmyyyy')">
                <img src="Images/cal.gif" width="16" height="16" border="0" alt="Pick a date" />
            </a>
            <br />
            <input type="submit" value="Submit" />
        </form>
        </div>
    <!-- Start edits by Conner -->
    <div id="footerPopup" style="display:none"></div>
    <!-- End edits by Conner -->
</div>
