<script id="tpl_header" type="text/html">
	<div class="navbar navbar-inverse navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">
                <button data-target=".nav-collapse" data-toggle="collapse" class="navbar-toggle" type="button">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
                <a class="navbar-brand" href="#home">{{name}} <small>{{version}}</small></a>
                <div class="nav-collapse navbar-inverse-collapse collapse">
					<ul class="nav">
						<li><a href="#home"><i class="icon-home"></i> Home</a></li>
						<li><a href="#chat"><i class="icon-comments"></i> Chat</a></li>
						<li><a href="#map-rotation"><i class="icon-globe"></i> Map Rotation</a></li>
						<li><a href="#coming-soon"><i class="icon-list"></i> Players</a></li>
						<li><a href="#settings"><i class="icon-cog"></i> Settings</a></li>
					</ul>
					<ul class="nav pull-right">
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-user"></i> Account <b class="caret"></b></a>
							<ul class="dropdown-menu">
                                <li>
                                    <a id="login" href="#">
                                        <span
                                            class="g-signin"
                                            data-scope="https://www.googleapis.com/auth/plus.login"
                                            data-requestvisibleactions="http://schemas.google.com/AddActivity"
                                            data-clientId="199975196999.apps.googleusercontent.com"
                                            data-callback="onSignInCallback"
                                            data-theme="dark"
                                            data-width="iconOnly"
                                            data-cookiepolicy="single_host_origin"><i class="icon-google-plus"></i> Login/Register</span>
                                        </a>
								</li>
                                <li><a id="logout" href="#logout"><i class="icon-signout"></i> Logout</a></li>
								<li class="divider"></li>
								<li><a href="#account"><i class="icon-wrench"></i> My Account</a></li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</script>

<script id="tpl_footer" type="text/html">
	<div class="container">
		<p>&copy;{{year}} {{copyright}} <span class="pull-right">View the Source on <a href="{{github}}"><i class="icon-github"></i> GitHub</a></span></p>
	</div>
</script>

<script id="tpl_alert" type="text/html">
	<div class="container">
		<div class="row">
			<div class="alert alert-{{type}}">
				<button class="close" type="button" data-dismiss="alert">&times;</button>
				<strong>{{title}}</strong>
				<span>{{message}}</span>
			</div>
		</div>
	</div>
</script>

<script id="tpl_confirm_dialogue" type="text/html">
	<div id="modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 id="modal-title">{{title}}</h4>
                </div>
                <div class="modal-body">
                    <p>{{message}}</p>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-cancel" data-dismiss="modal" aria-hidden="true">Cancel</button>
                    <button class="btn btn-confirm btn-{{button}}">{{button-text}}</button>
                </div>
            </div>
        </div>
	</div>
</script>

<script id="tpl_loading" type="text/html">
	<div id="loading" class="row">
		<h3>Loading <small>- Please Wait</small></h3>
		<div class="progress progress-striped active">
			<div id="progress-bar-inner" class="progress-bar"></div>
		</div>
	</div>
</script>

<script id="tpl_coming_soon" type="text/html">
	<div class="row">
		<div class="page-header">
			<h1>Coming Soon!</h1>
		</div>
		<div class="page-content">
			<p>This page hasn't been built yet, but don't worry, it's coming soon!</p>
		</div>
	</div>
</script>

<script id="tpl_home" type="text/html">
	<div class="row">
		<div class="page-header">
			<h1>Welcome!</h1>
		</div>
		<div class="page-content">
			<p>This is the Pure Game Server Web Administration Tool, or GSWAT for short. It's purpose is to try and simplify the task of administering servers from any platform that has a modern browser. We hope you enjoy it!</p>
		</div>
	</div>
</script>

<script id="tpl_login" type="text/html">
	<div class="row">
		<div class="page-header">
			<h1>Sign in <small class="pull-right"><a href="#register" class="btn">Register</a></small></h1>
		</div>
		<div class="page-content">
			<form id="login-form">
				<fieldset>
					<legend>Sign in or create an account</legend>
					<div class="row">
						<div class="control-group">
							<label class="control-label" for="Username">Username</label>
							<div class="control">
								<input name="Username" type="text" placeholder="Username"/>
								{{>tpl_error_required}}
							</div>
						</div>
						<div class="control-group">
							<label class="control-label" for="Password">Password</label>
							<div class="control">
								<input name="Password" type="password"/>
							</div>
						</div>
						<button type="submit" class="btn btn-primary submit">Submit</button>
					</div>
				</fieldset>
			</form>
		</div>
	</div>
</script>

<script id="tpl_logout" type="text/html">
	<div class="row">
		<div class="page-header">
			<h1>Signed out</h1>
		</div>
		<div class="page-content">
			<p>You've been signed out</p>
		</div>
	</div>
</script>

<script id="tpl_register" type="text/html">
	<div class="row">
		<div class="page-header">
			<h1>Register</h1>
		</div>
		<div class="page-content">
			<p>Registration form</p>
		</div>
	</div>
</script>

<script id="tpl_account" type="text/html">
	<div class="row">
		<div class="page-header">
			<h1>Your Account</h1>
		</div>
		<div class="page-content">
			<p>Stuff about you</p>
		</div>
	</div>
</script>

<script id="tpl_chat" type="text/html">
	<div id="quick-settings" class="row">
		<ul class="nav nav-pills pull-left">
			<li>
				<a id="chat-force-refresh" href="#"><span><i class="icon-retweet"></i> Refresh</span></a>
			</li>
			<li>
				<a href="#settings">Server IP: <span id="server-ip">{{ServerIP}}</span></a>
			</li>
		</ul>
		<ul class="nav nav-pills pull-right">
			<li>
				<a id="chat-toggle-options" href="#" class="place-right"><span><i class="icon-cogs"></i> Options & Archives</span></a>
			</li>
		</ul>
	</div>
	<div id="chat-quick-settings" class="row">
		<div class="page-header">
			<h1>Quick Settings</h1>
		</div>
		<div class="page-content">
			<div class="span5">
				<form id="historical-chat-form" class="form-horizontal">
					<fieldset>
						<legend>Load past history</legend>
                        <div class="control-group">
                            <label for="chat-date">Loading past logs will disable chat auto-refresh</label>
                            <input type="text" id="chat-date-input" name="chat-date" placeholder="Enter Date (MM/DD/YYYY)" />
                        </div>
						<div class="control-group">
							<button type="submit" id="load-archive" class="btn archive-btn">Load</button>
							<button type="button" id="save-archive" class="btn archive-btn">Save</button>
						</div>
						<iframe id="download-chat-iframe" src="{{iframe_url}}" style="display:none"></iframe>
					</fieldset>
				</form>
			</div>
			<div class="span7">
				<div id="chat-settings"></div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="page-header">
			<h1>Server Chat</h1>
		</div>
	</div>
	<div class="row">
		<div id="chat-contents" class="{{^message_filters.show_server_msgs}}hide-server-msgs{{/message_filters.show_server_msgs}} {{^message_filters.show_global_msgs}}hide-global-msgs{{/message_filters.show_global_msgs}} {{^message_filters.show_us_msgs}}hide-us-msgs{{/message_filters.show_us_msgs}} {{^message_filters.show_ru_msgs}}hide-ru-msgs{{/message_filters.show_ru_msgs}} {{^message_filters.show_squad_msgs}}hide-squad-msgs{{/message_filters.show_squad_msgs}}">
			<ul id="chat-contents-ul"></ul>
		</div>
	</div>
</script>

<script id="tpl_chat_messages" type="text/html">
	{{#.}}
		<li class="{{#Server}}server-message{{/Server}} team-{{MessageType}} {{#SquadName}}squad{{/SquadName}}">
			[<span class="timestamp">{{MessageTimeStamp}}</span>]
			[<span class="team team-{{MessageType}}">{{MessageType}}</span>{{#SquadName}} <span class="team squad">{{SquadName}}</span>{{/SquadName}}]
			<span class="player-name">{{Speaker}}</span>:
			<span class="message">{{Text}}</span>
		</li>
	{{/.}}
</script>

<script id="tpl_settings" type="text/html">
	<div class="page padding10">
		<div class="page-header">
			<h1>Settings</h1>
		</div>
		<div class="page-region">
			<div class="page-region-content row">
				<div class="span6"><div id="chat-settings"></div></div>
				<div class="span6"><div id="server-settings"></div></div>
			</div>
		</div>
	</div>
</script>

<script id="tpl_chat_settings" type="text/html">
	<h2>Chat</h2>
	<form id="chat-settings-form">
		<fieldset>
			<legend>Chat Display Settings</legend>
			<div class="checkbox">
                <label id="chat-auto-refresh-field">
				    <input data-field="auto_refresh" type="checkbox" {{#auto_refresh}}checked{{/auto_refresh}}> Auto-refresh
                </label>
			</div>
			<div id="toggle-message-types">
				<div class="checkbox">
                    <label id="chat-servers-msgs-field">
					    <input data-field="show_server_msgs" type="checkbox" {{#message_filters.show_server_msgs}}checked{{/message_filters.show_server_msgs}}> Show Server MSGs
                    </label>
				</div>
				<div class="checkbox">
                    <label id="chat-global-msgs-field">
					    <input data-field="show_global_msgs" type="checkbox" {{#message_filters.show_global_msgs}}checked{{/message_filters.show_global_msgs}}> Show Global MSGs
                    </label>
				</div>
				<div class="checkbox">
                    <label id="chat-ru-msgs-field">
					    <input data-field="show_ru_msgs" type="checkbox" {{#message_filters.show_ru_msgs}}checked{{/message_filters.show_ru_msgs}}> Show RU MSGs
                    </label>
				</div>
				<div class="checkbox">
                    <label id="chat-us-msgs-field">
                        <input data-field="show_us_msgs" type="checkbox" {{#message_filters.show_us_msgs}}checked{{/message_filters.show_us_msgs}}> Show US MSGs
                    </label>
				</div>
				<div class="checkbox">
                    <label id="chat-squad-msgs-field">
					    <input data-field="show_squad_msgs" type="checkbox" {{#message_filters.show_squad_msgs}}checked{{/message_filters.show_squad_msgs}}> Show Squad MSGs
                    </label>
				</div>
			</div>
            <div class="control-group">
                <label for="chat-interval">Refresh Interval in Seconds</label>
                <div class="input-group">
                    <input id="chat-interval-field" name="chat-interval" data-field="interval" type="text" value="{{interval}}" class="input-block-level"/>
                    <span class="input-group-btn">
                        <button type="submit" class="btn btn-primary submit">Submit</button>
                    </span>
                </div>
            </div>
		</fieldset>
	</form>
</script>

<script id="tpl_server_settings" type="text/html">
	<h2>Server</h2>
	<form id="server-settings-form" class="form-horizontal">
		<fieldset>
			<legend>Connection Settings</legend>
			<div class="row">
				<div class="control-group span6">
					<label for="ServerIP">Server IP</label>
					<input tabindex="1" name="ServerIP" data-field="server_ip" type="text" value="{{ServerIP}}" class="input-block-level"/>
					<label for="ServerPort">Server Port</label>
					<input tabindex="2" name="ServerPort" data-field="server_port" type="text" value="{{ServerPort}}" class="input-block-level"/>
				</div>
				<div class="control-group span6">
					<label for="Password">Server Password</label>
					<input tabindex="3" name="Password" data-field="server_password" type="text" value="{{Password}}" class="input-block-level"/>
					<label for="OldPassword">Old Server Password</label>
					<input tabindex="4" name="OldPassword" data-field="server_old_password" type="text" value="{{OldPassword}}" class="input-block-level"/>
				</div>
                <div class="control-group">
                    <button type="submit" class="btn btn-primary submit">Submit</button>
                </div>
            </div>
		</fieldset>
	</form>
</script>

<script id="tpl_map_rotation" type="text/html">
	<div class="page-header">
		<h1>Map Rotation Lists<small class="pull-right"><a href="#map-rotation/new" class="btn btn-primary">Create Maplist</a></small></h1>
	</div>
	<div class="page-content">
		<table class="table table-bordered table-striped table-hover">
			<thead>
				<tr>
					<th style="width:29%">Name</th>
					<th>Server Name</th>
					<th>Map Count</th>
					<th>Min/Max Players</th>
					<th>Activated</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				{{#.}}
				<tr>
					<td>{{Name}}</td>
					<td>{{ServerName}}</td>
					<td class="map-list-count">{{MapCount}}</td>
					<td class="map-list-player-criterias">{{MinPlayers}} / {{MaxPlayers}}</td>
					<td class="table-status-icons"><i class="icon-{{#active}}ok-sign{{/active}}{{^active}}remove-sign{{/active}}"></i></td>
					<td class="table-actions">
						<a href="#map-rotation/view/{{slugged_name}}" class="btn"><i class="icon-external-link"></i> View</a>
						<a href="#map-rotation/edit/{{slugged_name}}" class="btn"><i class="icon-pencil"></i> Edit</a>
						<button data-id="{{slugged_name}}" data-action="activate" class="btn{{#active}} disabled{{/active}}"><i class="icon-play-circle"></i> Activate</button>
						<button data-id="{{slugged_name}}" data-action="delete" class="btn btn-danger"><i class="icon-trash"></i> Delete</button>
					</td>
				</tr>
				{{/.}}
			</tbody>
		</table>
	</div>
</script>

<script id="tpl_map_form" type="text/html">
	<div class="page-header">
		<h1>{{^Name}}Create New Maplist{{/Name}}{{Name}}</h1>
	</div>
	<div class="page-content">
		<form id="maplist-form" class="form-horizontal">
			<fieldset>
				<legend>{{^Name}}Create a new maplist{{/Name}}{{#Name}}Edit the {{Name}} maplist{{/Name}}</legend>
                <div class="control-group">
                    <label class="control-label" for="MaplistName">Maplist Name</label>
                    <div class="control">
                        <input name="Name" type="text" placeholder="Name of the maplist" value="{{Name}}"/>
                        {{>tpl_error_required}}
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="ServerName">Server Name</label>
                    <div class="control">
                        <input name="ServerName" type="text" placeholder="Name of the server" value="{{ServerName}}"/>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="MinPlayers">Minimum players supported</label>
                    <div class="control">
                        <input name="MinPlayers" type="text" value="{{MinPlayers}}"/>
                        <p class="help-block control-label error-number">Please enter a number between 0 and 64</p>
                        {{>tpl_error_minimum_maximum}}
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="MaxPlayers">Maximum players supported</label>
                    <div class="control">
                        <input name="MaxPlayers" type="text" value="{{MaxPlayers}}"/>
                        <p class="help-block control-label error-number">Please enter a number between 0 and 64</p>
                        {{>tpl_error_maximum_minimum}}
                    </div>
                </div>
                <button type="submit" class="btn btn-primary submit">Submit</button>
                <a href="#map-rotation" class="btn">Cancel</a>
			</fieldset>
		</form>
	</div>
</script>

<script id="tpl_error_required" type="text/html">
	<p class="help-block control-label error-required">This field is required</p>
</script>

<script id="tpl_error_maximum_minimum" type="text/html">
	<p class="help-block control-label error-amount">Maximum can't be lower than Minimum</p>
</script>

<script id="tpl_error_minimum_maximum" type="text/html">
	<p class="help-block control-label error-amount">Minimum can't be higher than Maximum</p>
</script>