<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="test.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="test.TestServerDetails" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="test.TestServerPassword" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <test.Properties.Settings>
            <setting name="ServerPassword" serializeAs="String">
                <value>RSUoUYbJ</value>
            </setting>
            <setting name="ServerIP" serializeAs="String">
                <value>74.91.113.58</value>
            </setting>
            <setting name="ServerPort" serializeAs="String">
                <value>47200</value>
            </setting>
        </test.Properties.Settings>
        <test.TestServerDetails>
            <setting name="ServerPassword" serializeAs="String">
                <value>RSUoUYbJ</value>
            </setting>
            <setting name="ServerIP" serializeAs="String">
                <value>74.91.113.58</value>
            </setting>
            <setting name="ServerPort" serializeAs="String">
                <value>47200</value>
            </setting>
        </test.TestServerDetails>
        <test.TestServerPassword>
            <setting name="Setting" serializeAs="String">
                <value>RSUoUYbJ</value>
            </setting>
        </test.TestServerPassword>
    </userSettings>
</configuration>