/* Global */
.page {
    max-width:940px;
    margin:0 auto;
}

/* Header */
#header li i,
#header li a {
    font-size:12pt;
    line-height:15px;
}

/* Footer */
#footer {
}

/* Content */
#content {
    min-height: 400px;
}

/* Chat Colors */
#chatContents p {
    margin: 0 0 2px;
}

.team {
    font-weight: bold;
    text-transform:uppercase;
}

.team.team-team1 {
    color: #0000ff;
}

.team.team-team2 {
    color: #CE2323;
}

.player-name {
    font-weight: bold;
}